@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GreatVibes';
  src: url('./assets/fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  background: #050505;
}
